<html>
{% include "partials/header.html" %}
<body>
  <div class="child">

    <div>
        <a class="logo" href="/">W3Z</a>
    </div>

    {% include "state/initial.html" %}

    {% include "state/after.html" %}

    <br /><br />
    <div class="promo_parent">

    {% for promo in promo_list %}
        {% with promo=promo %}
            {% include "promo.html" %}
        {% endwith %}
    {% endfor %}

    </div>

    <style>
      .footer{
        align-self: flex-end;
      }
    </style>
    <div class="footer">
      <a style="text-decoration: none; font-size: 14; color: #777;" href="/privacy">Privacy</a>
    </div>
  </div>
<script src="static/js/bundle.js" type="text/javascript" charset="utf-8"></script>
{% include "partials/footer.html" %}
</body>
</html>
